<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.LecturerViewMapper">

	<select id="select" resultMap="lecturerView">
		SELECT * 
		FROM lecturer_view
		<where>
			<if test="openId != null">AND open_id=#{openId}</if>
			<if test="employeeNumber != null">AND employee_number=#{employeeNumber}</if>
			<if test="level != null">AND level=#{level}</if>
		</where>
	</select>
	
	<select id="selectById" resultMap="lecturerView">
		SELECT * 
		FROM lecturer_view
		WHERE open_id=#{id}
	</select>
	
	<resultMap id="lecturerView" type="LecturerView">
		<result column="open_id" property="openId"/>
		<result column="nick_name" property="nickName"/>
		<result column="gender" property="gender"/>
		<result column="avatar_url" property="avatarUrl"/>
		<result column="employee_number" property="employeeNumber"/>
		<result column="type" property="type"/>
		<result column="level" property="level"/>
		<result column="brief" property="brief"/>
	</resultMap>


</mapper>