<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SubscribeMapper">

	<insert id="insert">
		INSERT INTO subscribe
		(course, student, sign_in_time)
		VALUES(#{courseId},#{studentOpenId}, #{signInTime})
	</insert>
	
	<update id="updateById">
		UPDATE subscribe
		<set>
			<if test="signInTime != null">sign_in_time=#{signInTime},</if>
			<if test="isDelete != null">isDelete=#{isDelete},</if>
		</set>
		WHERE course=#{courseId} AND student=#{studentOpenId}
	</update>
	
	<update id="update">
		UPDATE subscribe
		<set>
			<if test="subscribe.signInTime != null">sign_in_time=#{subscribe.signInTime},</if>
			<if test="subscribe.isDelete != null">isDelete=#{subscribe.isDelete},</if>
		</set>
		<where>
			<if test="condition.courseId != null">AND course=#{condition.courseId}</if>
			<if test="condition.studentOpenId != null">AND student=#{condition.studentOpenId}</if>
		</where>
	</update>

	<select id="selectById" resultMap="subscribe">
		SELECT *
		FROM subscribe
		WHERE course=#{courseId} AND student=#{studentOpenId}
	</select>
	
	<select id="select" resultMap="subscribe">
		SELECT *
		FROM subscribe
		<where>
			<if test="courseId != null">AND course=#{courseId}</if>
			<if test="studentOpenId != null">AND student=#{studentOpenId}</if>
			<if test="isDelete != null">AND isDelete=#{isDelete}</if>
		</where>
	</select>

	<resultMap id="subscribe" type="Subscribe">
		<result column="course" property="courseId" />
		<result column="student" property="studentOpenId" />
		<result column="sign_in_time" property="signInTime" />
		<result column="isDelete" property="isDelete" />
	</resultMap>

</mapper>