<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

	<insert id="insert">
		INSERT INTO user(open_id,nick_name,gender,avatar_url, session_key)
		VALUES(#{openId},#{nickName},#{gender},#{avatarUrl}, #{sessionKey})
	</insert>
	
	<select id="selectById" resultMap="user">
		SELECT *
		FROM user
		<where>
			<if test="openId != null">AND open_id=#{openId}</if>
			<if test="sessionKey != null">AND session_key=#{sessionKey}</if>
		</where>
	</select>
	
	<update id="updateById">
		UPDATE user
		<set>
			<if test="employeeNumber != null">employee_number=#{employeeNumber},</if>
			<if test="nickName != null">nick_name=#{nickName},</if>
			<if test="type != null">type=#{type},</if>
			<if test="avatarUrl != null">avatar_url =#{avatarUrl},</if>
			<if test="sessionKey != null">session_key=#{sessionKey},</if>
		</set>
		WHERE open_id=#{openId}
	</update>
	
	<resultMap type="User" id="user">
		<id column="open_id" property="openId"/>
		<result column="nick_name" property="nickName"/>
		<result column="gender" property="gender"/>
		<result column="avatar_url" property="avatarUrl"/>
		<result column="session_key" property="sessionKey"/>
		<result column="employee_number" property="employeeNumber"/>
		<result column="type" property="type"/>
		<result column="isDelete" property="isDelete"/>
	</resultMap>

</mapper>